html{
    background-color: white;
    font-family: 'lacuna', 'Courier New', sans-serif;
    color: black;
    text-align: center;
}

/* CUSTOM FONT */
@font-face {
    font-family: 'lacuna';
    src: url('/style/webfontkit/lacurg__-webfont.ttf') format('ttf'),
         url('/style/webfontkit/lacurg__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    background-color: white;
}

/* .bg-image{
    height: 100%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    background-image: url("../images/wvpic.jpg");
    background-size: cover;
} */
    
h1{
    font-family: 'lacuna', 'Courier New', sans-serif;
    font-size: 400%; 
    text-align: center;
}

p{
    font-size: 100%;
}

.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.center-justify{
    text-align: justify;
    margin: 0 auto;
    width: 30em;
}

.profile-pic {
    object-fit: cover;
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}
.bg-home {
    color: white;
    font-weight: bold;
    font-size: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 20px;
    text-align: center;
    white-space: nowrap;
  }




/* OLD NAVBAR */
.topnav {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    color: gray;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: gray;
    color: white;
}




/* SOCIAL MEDIA ICONS */
.fa {
    padding: 20px;
    background: black;
    color: white;
    font-size: 200px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa-twitter:hover {
    background: #1da1f2;
    color: white;
}
.fa-github:hover {
    background: #F4CBB2;
    color: white;
}
.fa-reddit:hover {
    background: #ff4500;
    color: white;
}
.fa-instagram:hover {
    background: #3b5998;
    color: white;
}
.fa-google:hover {
    background: #d14836;
    color: white;
}

.fa-bars{
  background: white;
  color: gray;
}
.fa-bars:hover{
  color: black;
}




/* DROPDOWN MENU */
.dropbtn {
    background-color: white;
    position: relative;
    color: black;
    padding: 5px;
    font-size: 30px;
    border: none;
    cursor: pointer;

  }
  
  .dropdown {
    position: absolute;
    top: 40px;
    left: 40px;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    color: gray;
  }



  /* SCROLLING BACKGROUND */
  
  .bg-image {
    height: 50%; 
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: brightness(50%); 
    filter: brightness(50%);
  }

  .img1 { background-image: url("../images/nac.jpg"); }
  .img2 { background-image: url("../images/outreach.JPG"); }
  .img3 { background-image: url("../images/wvpic.jpg"); }
  .img4 { background-image: url("../images/halliwells.JPG"); }
  .img5 { background-image: url("../images/wv2.JPG"); }
  .img6 { background-image: url("../images/iroc.JPG"); rotate: 90deg; }
  
  .bg-h1 {
    color: white;
    font-weight: bold;
    font-size: 60px;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 20px;
    text-align: center;
    white-space: nowrap;
  }
  
  .bg-p {
    color: white;
    font-size: 100%;
    border: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 300px;
    padding: 20px;
    text-align: justify;
        margin: 0 auto;
      width: 30em;
  }




/* PARTICLES */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}