html{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
}

h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%; 
    text-align: center;  
}

.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.profile-pic {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}