html {
    background-color: #F8E08E;
    font-family: 'Roboto', 'Courier New', sans-serif;
    color: black;
    margin: 0;
    max-height: 100vh;
    max-width: 100vw;
  }
  
  /* CUSTOM FONT */
  @font-face {
    font-family: 'Roboto';
    src: url('/style/webfontkit/roboto-regular-webfont.ttf') format('ttf'),
      url('/style/webfontkit/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    background-color: #F8E08E;
    margin: 0;
    max-height: 100vh;
    max-width: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  
  /* Ishana Shastri */
  .home-name {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 8vw;
    top: 2vw;
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 3vw;
    line-height: 5vw;
    text-transform: uppercase;
  
    color: #000000;
  }
  
  .home-sub {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 8vw;
    top: 7vw;
  
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vw;
    line-height: 1.5vw;
    text-transform: uppercase;
    text-align: left;
  
    color: #000000;
  }
  
  /* massachusetts institute of technology cs + math ‘23 */
  .center-c,
  .center-s {
    position: absolute;
    width: 651px;
    height: 10px;
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 3vw;
    text-transform: uppercase;
    z-index: 2;
  }
  
  .center-c {
    left: 50vw;
    top: 37%;
    color: black;
  }
  
  .center-s {
    left: 52vw;
    top: 39%;
    color: #E0CA80;
  }
  /* end of massachusetts institute of technology cs + math ‘23 */

  /*about keywords*/
  .about-c,
  .about-s {
    position: absolute;
    width: 651px;
    height: 10px;
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 2.5vw;
    text-transform: uppercase;
    z-index: 2;
  }
  
  .about-c {
    left: 8vw;
    top: 10vw;
    color: black;
  }
  
  .about-s {
    left: 20vw;
    top: 13vw;
    color: #E0CA80;
  }
  
  /*end of about keywords*/ 

  .header {
    position: absolute;
    bottom: 1vw;
    right: 1vw;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5vw;
    line-height: 1.5vw;
    text-align: right;
    text-transform: uppercase;
    z-index: 2;
    color: #000000;
  }
  
  a {
    color: black;
    font-family: 'Roboto';
    font-weight: bold;
    text-decoration: none;
  }

  a.contact{
    font-weight: normal;
    font-style: italic;
  }
  
  contact-c, contact-s{
    position: absolute;
    width: 651px;
    height: 10px;
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 2.5vw;
    text-transform: uppercase;
    z-index: 2;
  }
  
  contact-c{
    left: 8vw;
    top: 10vw;
    color: black;
  }

  contact-s{
    left: 20vw;
    top: 13vw;
    color: #E0CA80;
  }

  .about-p {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5vw;
    border: 10px;
    position: fixed;
    width: 131px;
    height: 100px;
    right: 1vw;
    top: 2vw;
    z-index: 1;
    width: 300px;
    padding: 20px;
    text-align: right;
    margin: 0 auto;
    width: 52%;
  }
  