html{
    background-color: #F8E08E;
    font-family: 'Roboto', 'Courier New', sans-serif;
    color: black;
    height: 100%;
}
/* CUSTOM FONT */
@font-face {
    font-family: 'Roboto';
    src: url('/style/webfontkit/roboto-regular-webfont.ttf') format('ttf'),
         url('/style/webfontkit/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #F8E08E;
    height: 100%;
}

a{
    color: black;
    font-family: 'Roboto';
    font-weight: bold;
    text-decoration: none;
}

/* Ishana Shastri */
.home-name{
    position: relative;
    width: 100%;
    height: 100%;
    left: 10%;
    top: 30px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 200%;
    line-height: 100%;
    text-transform: uppercase;

    color: #000000;
}
.home-sub{
    position: relative;
    width: 100%;
    height: 100%;
    left: 10%;
    top: 40px;

    font-family: Courier New;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: left;

    color: #000000;
}

/* massachusetts institute of technology cs + math ‘23 */
.center-c, .center-s{
    position: absolute;
    width: 651px;
    height: 347px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 49px;
    text-transform: uppercase;
}

.center-c{
    left: 489px;
    top: 189px;
    color: black;
}
.center-s{
    left: 509px;
    top: 206px;
    color: #E0CA80;    
}

.header{
    position: absolute;
    width: 131px;
    height: 45px;
    left: 1212px;
    top: 401px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
    text-align: right;
    text-transform: uppercase;
    
    color: #000000;    
}
.bg-p {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    border: 10px;
    position: fixed;
    width: 131px;
    height: 100px;
    left: 1208px;
    top: 200px;
    z-index: 2;
    width: 300px;
    padding: 20px;
    text-align: right;
    margin: 0 auto;
    width: 30em;
  }