html {
  background-color: white;
  color: black;
  margin: 0;
  max-height: 100vh;
  max-width: 100vw;
  cursor: url(../../images/pointer.png), auto;
  background-image: url(../../images/notebook.jpg);
}

/* TERMINAL GROTESQUE */
@font-face {
  font-family: "Terminal Grotesque Open";
  src: url("/style/fonts/TerminalGrotesque-Open.woff2") format("woff2"),
    url("/style/fonts/TerminalGrotesque-Open.woff") format("woff"),
    url("/style/fonts/TerminalGrotesque-Open.ttf") format("truetype");
  font-weight: bold;
}

/* PETIT FORMAL */
@font-face {
  font-family: "Petit Formal Script";
  src: url("/style/fonts/petitformalscript-regular-webfont.woff") format("woff"),
    url("/style/fonts/petitformalscript-regular-webfont.woff") format("woff"),
    url("/style/fonts/PetitFormalScript-Regular.ttf") format("ttf");
  font-weight: bold;
}

/* PERPETUA TITLING MT*/
@font-face {
  font-family: "Perpetua Titling MT";
  src: url("/style/fonts/PerpetuaTitlingMTLight2.ttf") format("ttf");
}

/* ROCK 3D */
@font-face {
  font-family: "Rock 3D";
  src: url("/style/fonts/Rock3D-Regular.ttf") format("ttf");
}

body {
  margin: 0;
  overflow-x: hidden;
  /* overflow-y: hidden;  */
  display:flex;
}

/* HOME PAGE */
.paint {
  background-image: url("../../images/paint.jpg");
  background-position: 0% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0%;
  top: 2%;
  width: 50%;
  height: 50%;
}

.money {
  background-image: url("../../images/money-removebg-preview.png");
  background-position: 100% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  transform: scaleX(-1);
  position: absolute;
  left: 0%;
  top: 0%;
  z-index:100;
  width: 40%;
  height: 32%;
}

.moon {
  background-image: url("../../images/maninmoon.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: -12%;
  top: -5%;
  z-index:120;
  width: 36%;
  height: 36%;
}

.sticker {
  background-image: url("../../images/90s_2.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 40%;
  top: 4%;
  z-index:400;
  width: 20%;
  height: 20%;
}

.angel {
  background-image: url("../../images/ditherangel.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 35%;
  top: -8%;
  z-index:109;
  width: 70%;
  height: 70%;
}

.india {
  background-image: url("../../images/indianpainting.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: -25%;
  top: 9%;
  z-index:0;
  width: 50%;
  height: 50%;
}

.frog {
  background-image: url("../../images/froggay.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  bottom: 5%;
  z-index:0;
  width: 32%;
  height: 32%;
}

.computer {
  background-image: url("../../images/codingthing.png");
  background-position: 0% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0%;
  bottom: 0%;
  z-index:0;
  width: 50%;
  height: 50%;
}

.camera {
  background-image: url("../../images/cameragirl.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 45%;
  bottom: 0%;
  z-index:200;
  width: 70%;
  height: 70%;
}

.certified {
  background-image: url("../../images/certifiedbackwards.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: -5%;
  bottom: 0%;
  z-index:400;
  width: 27%;
  height: 27%;
}

.certified:hover{
  filter: invert(1);
}

.download {
  background-image: url("../../images/downloadnow.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 32%;
  bottom: -3%;
  z-index:0;
  width: 30%;
  height: 30%;
}

.namelogo {
  background-image: url("../../images/namelogo.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 15%;
  bottom: 15%;
  z-index:400;
  width: 55%;
  height: 55%;
}

.namelogo:hover {
  filter: invert(1);
}
/*  */
a {
  color: black;
  font-family: "Syne, sans-serif";
  font-weight: normal;
  text-decoration: none;
}

a.project {
  font-family: 'Arial Narrow';
  padding-left: 0.625rem;
}

img.spinning-smile {
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}

img.spinning-smile:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

img.inverted:hover {
  filter: invert(1);
}

.video-container {
  width: 76%;
  height: 42.75vw;
}

/* Hello */
h1 {
  position: absolute;
  left: 32%;
  top: 58%;
  font-family: "Perpetua Titling MT";
  font-weight: lighter;
  font-size: 20px;
  line-height: 1.4;
  margin: 0 0 10px -4px;
  color: #000000;
}
fancy-text {
  font-family: "Petit Formal Script";
}

a:hover {
  cursor: url(../../images/grab.png), auto;
}

/* CONTACT PAGE */
.contact {
  position: absolute;
  width: 100%;
  height: 10px;
  font-style: normal;
  font-size: 50px;
  color: black;
  line-height: 73px;
  padding: 30px;
  margin-top: 10%;
  left: 60vw;
}
.contact a {
  font-family:" DM Serif Text";
}

.draggable.is-dragging {
  opacity: 0.7;
}

.draggable {
  cursor: url("/images/grab.png"), auto;
}

/* BASE PORTFOLIO PAGE */
.wrap {
  display:flex;
  background-image: none;
  width:100%;
  overflow: hidden;
}

.menu{
  height: 100vh;
  flex: 3 1 0;
  max-width: 275px;
  min-width: 175px;
  padding-right: 0.625em;
  /* width: 250px; */
  overflow:auto;
  background-color: white;
  background-image: none;
  border-right-style: solid;
  border-right-width: 1.5px;
  border-top-style: none;
  border-bottom-style: none;
  border-left-style: none;
  font-family: 'Arial Narrow';
  line-height: .5rem;
  overflow-y: scroll;
}

menu::-webkit-scrollbar{
  display: none;
}

.menu-head {
  font-family: 'Rock 3D';
  font-size: 28px;
  padding-left: 0.625rem;
}

.content {
  background-color: white;
  background-image: none;
  /* width: 70vw; */
  height: 100vh;
  flex: 4 1 0;
  padding-left: 0.625em;
  overflow-y: scroll;
  font-family: 'Arial Narrow';
}

.description {
  width: 76%;
}

.hide-me {
  display: none;
  background-image: url('../../images/cybernetics/release.gif');
  position: absolute;
  left: 50%;
  top: 50%
}

.cyber:hover + .hide-me {
  display: block;
}

hr {
  background: rgba(0, 0, 0, 1);
  border: 0;
  height: 1px;
  display: block;
}
/* RESIZING */
@media screen and (max-width: 200px)  {
  h1 {
    top: 30%;
  }
}